ol {
  font-size: medium;
  color: rgb(139, 60, 40);
  text-align: center;         
}


li {
  font-size: 18px;
  color: rgb(139, 60, 40);
  padding: 12px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-left: 5px solid;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 25px auto;  
  transition: transform 0.2s ease, background-color 0.2s ease;
  border-radius: 6px;
  max-width: 700px;
  text-align: center;
}



li:hover{

  background-color:  rgba(255, 240, 230, 0.95);
  transform: scale(1.1);
  cursor: pointer;
}





h1 {
  margin: 50px;
  text-align: center;
  color: rgb(139, 60, 40);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation-name: Bounce;
  animation-duration: 1.2s; 
  animation-iteration-count: infinite; 
}

@keyframes Bounce {
  0%   { transform: translateY(0); }      /* start boven */
  50%  { transform: translateY(25px); }   /* valt naar beneden */
  70%  { transform: translateY(20px); }   /* stuitert een beetje omhoog */
  100% { transform: translateY(0); }      /* terug naar boven */
}



h2{

  font-size: 25px;
  color: rgb(139, 60, 40);
  padding: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-left: 5px solid;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 25px auto;  
  transition: transform 0.2s ease, background-color 0.2s ease;
  border-radius: 6px;
  max-width: 900px;
  text-align: center;
}

h2:hover{

  background-color:  rgba(255, 240, 230, 0.95);
  transform: scale(1.1);
  cursor: pointer;

}

p{
    font-size: 19px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(139, 60, 40);
}

body {
    background-image: url(https://www.creativefabrica.com/wp-content/uploads/2024/06/25/Vintage-Kitchen-Recipe-Background-Graphics-100379183-1.jpeg);    background-size: cover;        /* vult altijd het scherm */
}





h6 {
  opacity: 0.8;
  font-size: 14px;
  margin: 40px 0 20px;
  color: rgb(139, 60, 40);
}


iframe {
  display: block;       
  margin-left: 275px;   
  margin-top: 30px;     
  border-radius: 10px;  
  transition: 0.2s ease;
}

iframe:hover{

  cursor: pointer;
  transform: scale(1.03);

}

.nav_searchbar{

    text-align: center;

}
form{

    text-align: center;

}

nav a{

    padding: 4px;
    transition: all 0.2s ease-in-out;
    margin: 10px;
    border-color: rgb(139, 60, 40) ;
    background-color:transparent;
    border-style: outset;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 21px;
    margin: 40px;
    color: rgb(139, 60, 40);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
  background-color: rgb(139, 60, 40);
  color: white;
}

.searchbar {
  padding: 10px;
  font-size: 16px;
  border: 3px solid rgb(139, 60, 40);
  border-radius: 20px;
  background-color: transparent;
  margin: 20px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.searchbar:hover{

  transform: scale(1.15);

}

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(139, 60, 40);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    gap: 10px;

}

.cookie-banner a {
    color: rgb(255, 227, 195);
    text-decoration: underline;
}

.cookie-button {
    background-color: white;
    color: rgb(139, 60, 40);
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;

}
.cookie-button:hover {
  background-color: rgb(139, 60, 40);
  color: rgb(255, 255, 255);
}

.cookie-button.decline {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition:  all 0.2s ease-in-out;

}

.cookie-button.decline:hover{
  background-color:rgb(255, 255, 255);
  color:rgb(139, 60, 40); 
}

.cookie-banner {
  animation: fadeOut 5s ease-in-out 5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}




/* Loader */
.loader-screen {
    position: fixed;
    inset: 0;
    background:  rgb(218, 172, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeOut 1s ease forwards;
    animation-delay: 0.5s; /* loader duurt 1 sec */
}

/* Spinner */
.loader {
    width: 50px;
    height: 50px;
    border: 6px solid #444;
    border-top-color: rgba(139, 60, 40, 0.55);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
    to { transform: rotate(360deg); }
}

/* Verdwijnt automatisch */
@keyframes fadeOut {
    to { opacity: 0; visibility: hidden; }
}
